body {
  font-family: "Poppins", sans-serif;
}

/* common classes */
.asBtn {
  background-color: #8f023d;
  color: white;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.asBtn:hover {
  background-color: #bb4e7b;
  color: white;
}
.aboutSubTitle {
  text-decoration: underline;
}
/* ----HEADER---- */

#asLogo {
  margin-left: 20px;
  margin-top: 8px;
}

#asHeader {
  background-color: white;
  width: 100%;
  height: 100px;
  border-bottom: #8f023d 1px solid;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
}
.titleBtn {
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  float: right;
}

/* ------ WHY ACORNS DIV ------ */

#about {
  height: 100%;
  background-color: whitesmoke;
}

#asPictureDiv {
  margin: auto;
  height: 100%;
}
#asPicture {
  width: 100%;
}
#aboutTitle {
  margin-top: 10px;
}
#aboutDiv {
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
  height: 100%;
  overflow-y: scroll;
  margin-bottom: 30px;
}
.checkImg {
  width: 25px;
}

/* ------------excellence div -------- */
.asList {
  font-size: larger;
  list-style: none;
  padding-left: 190px;
}

#excellenceDiv {
  color: white;
  background-image: url("../images/stairlift-01.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#textImage {
  margin-top: 100px;
  padding-left: 10px;
  font-size: 50px;
  border-bottom: 1px white solid;
  margin-left: 30px;
}

/* ----------- SQUARES ----------- */

.squaresSubDiv {
  border: 1px solid #ced4da;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  text-align: center;
  transition: all 0.2s ease-in-out;
  margin: auto;
}

.squaresSubDiv:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.squareTitles {
  margin-top: 10px;
}

.fas {
  margin-top: 15px;
  font-size: 150px;
  color: #8f023d;
}

/* ----------- quote div ------------ */

#quoteTitle {
  color: #5a5a5a;
  margin-top: 30px;
  margin-left: 20px;
  border-bottom: 2px solid #5a5a5a;
}
#quoteSubTitle {
  color: #5a5a5a;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: small;
}

.txtQuote {
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
}

/* ----------- sign up div ------------ */

.txtSignup {
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
}

#signupTitle {
  color: #5a5a5a;
  margin-top: 30px;
  margin-left: 20px;
  border-bottom: 2px solid #5a5a5a;
}
#signupSubTitle {
  color: #5a5a5a;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: small;
}
#signupPicture {
  background-image: url("../images/acorn-stairlifts-home-survey.jpg");
  background-size: cover;
  opacity: 0.8;
}
#signupText {
  background-color: whitesmoke;
}

/* ----------footer----- */
#footer {
  background-color: #8f023d;
  height: 100%;
  padding: 10px;
}
#icons {
  text-align: center;
}
